* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: coral;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

svg path {
  color: #ffffff;
}

.loader {
  margin-top: 15rem;
  position: relative;
  width: 50px;
  height: 24px;
}

.small-elem {
  position: absolute;
  bottom: -4px;
  left: 0;
}
